.root {
  .app-header {
    display: flex;
    .logo {
      max-width: 180px;
      margin: 1% auto 2.5%;
    }
  }
  .app-footer {
    width: 100%;
    position: fixed;
    padding: 2%;
    bottom: 0;
    text-align: center;
  }
  .app-content {
    display: flex;
    flex-direction: column;

    .app-loader {
      display: flex;
      flex-grow: 1;
      align-self: center;
      justify-self: center;
    }
  }
}
